<div class="container">
                        
  <div id="updateparent">
  
    <form>
      <div id="update1">
        <label for="description">Description</label>
        <input type="textarea" id="description" name="employeeid" [(ngModel)] = "description" >
      </div>
      
      <div id="update2">
        <label for="duedate">Due Date</label>
        <input type="date" id="duedate">
      </div>
            
      <div id="update3">
        <button class="button button1" type="submit" (click)= "addTask()">Submit</button>
      </div>
    </form>
  
  </div>
  
      
  </div>