

    <!-- Page Wrapper -->
    <div id="wrapper">




        
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Task Manager App</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link">
                    <span>Label 1</span>
                </a>
                <a class="nav-link">
                    <span>Label 2</span>
                </a>
                <a class="nav-link">
                    <span>Label 3</span>
                </a>
                <a class="nav-link">
                    <span>Label 3</span>
                </a>
                <a class="nav-link">
                    <span>Label 4</span>
                </a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->





        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">






            <!-- Main Content -->
            <div id="content">





                <!-- Top Nav Bar-->
                <nav id="nav" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div id="navdiv" class="topnav">
                        <a class="active" href="#home">Home</a>
                        <!-- <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> -->
                      </div>
                </nav>
                <!-- End of Top Nav Bar -->




                <!-- Begin Page Container -->
                <div class="container-fluid">





                    <!-- Page Heading -->
                    <h1 class="title" id="title">Manager Page</h1>
                    <p style="text-align:right;" id="logout">Welcome, {{firstname}}</p>
                    <p style="text-align:right;"> 
                        <a href="http://localhost:4200/login" >Logout </a></p>
                    
                    <br>

<!--                     <div id="button-container">
                        <button class="button button1">View Submitted Tasks</button>
                    </div> -->

<div id="parenttable">
    <table id="customers">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>View Tasks</th>
            <th>Task Assign</th>
            
        </tr>
        <tr *ngFor="let empl of employeelist,index as indexOfelement;">

            <td>{{empl.id}}</td>
            <td>{{empl.firstname}}</td>
            <td>{{empl.lastname}}</td>
            <td>{{(empl.email)}}</td>
            <td><button (click)="getTasksByEmployee(empl.id);saveIndex(indexOfelement)" id="View">View Tasks</button></td>
            <td><button (click)="saveEmpId(empl.id)" routerLink="/assign" id="assign">Assign Task</button></td>
            
            
        </tr>
    </table>
</div>
<table id="customers">
    <!-- This table will contain the current employees tasks -->
    <tr>
        <th>Task Description</th>
        <th>Task Status</th>
        <th>Task Due Date</th>
        <th>Task Actions</th>
    </tr>
    <tr *ngFor="let task of curTasks;index as indexOfelement;">
        <td>{{task.taskdescription}}</td>
        <td>{{task.status}}</td>
        <td>{{datepipe.transform(duedates[indexOfelement], 'dd-MMM-YYYY')}}</td>
        <div *ngIf = "task.status != 'Completed'">
            
        <td id="updatetaskx"><button id="update"  (click)="saveIndex(indexOfelement)"   routerLink="/update" >Update Task</button></td>
        </div>
        <div id="appvdeny" *ngIf = "task.status == 'Awaiting Manager Confirmation'">
        <td><button id="approve"  (click)="approve(task.id)" >Approve</button></td>
        <td><button id="deny"  (click)="deny(task.id)" >Deny</button></td>
        </div>
    </tr>
</table>

                    <!-- Page Form -->
<!--                     <div class="container">
                        
                      <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
                        <label for="fname">Task Description</label>
                        <input type="text" id="taskdescription" name="taskdescription" placeholder="Task Description.." ngModel>
                    
                        <label for="lname">Start Time</label>
                        <input type="number" id="starttime" name="starttime" placeholder="Start Time.." ngModel>
                    
                        <label for="lname">Due Date</label>
                        <input type="number" id="duedate" name="duedate" placeholder="Due Date.." ngModel>
                    
                        <label for="description">Status</label>
                        <input type="text" id="status" name="status" placeholder="Status.." ngModel>

                        <label for="lname">Comments</label>
                        <input type="text" id="comments" name="comments" placeholder="Comments.." ngModel>

                        <label for="description">Employee ID</label>
                        <input type="number" id="employeeid" name="employeeid" placeholder="Employee ID.." ngModel>
                    
                        <button type="submit">Submit</button>
                      </form>

                    </div> -->









                </div>
                <!-- End of Page Container -->






            </div>
            <!-- End of Main Content -->







            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->






        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->




<router-outlet></router-outlet>
