

    <!-- Page Wrapper -->
    <div id="wrapper">




        
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Task Manager App</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link">
                    <span>Label 1</span>
                </a>
                <a class="nav-link">
                    <span>Label 2</span>
                </a>
                <a class="nav-link">
                    <span>Label 3</span>
                </a>
                <a class="nav-link">
                    <span>Label 3</span>
                </a>
                <a class="nav-link">
                    <span>Label 4</span>
                </a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->





        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">






            <!-- Main Content -->
            <div id="content">





                <!-- Top Nav Bar-->
                <nav id="nav" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div id="navdiv" class="topnav">
                        <a class="active" href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a>
                      </div>
                </nav>
                <!-- End of Top Nav Bar -->




                <!-- Begin Page Container -->
                <div class="container-fluid">





                    <!-- Page Heading -->
                    <h1 class="title">Employee Page</h1>
                    <!-- Page Sub Heading -->
<!--                     <div id="button-container">
                        <button class="button button1">View Submitted Tasks</button>
                    </div> -->



                    <!-- This is the table to hold all of the taks assigned to this particular employee -->
                    <div>
                        <table id="customers" class="tasktable">
                            <tr>
                                <th>Task ID</th>
                                <th>Task Status</th>
                                <th>Task Description</th>
                                <th>Task Options</th>
                            </tr>
                            <tr *ngFor="let tasks of task">
                               <td>{{tasks.id}}</td>
                               <td>{{tasks.status}}</td>
                               <td>{{tasks.taskdescription}}</td>
                               <td><button class="button button2">update task</button></td>
                               <!-- <td><button (click)="updateTask()">update task</button></td> -->
                            </tr>
                        </table>
                    </div>





                </div>
                <!-- End of Page Container -->






            </div>
            <!-- End of Main Content -->







            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->






        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->




<router-outlet></router-outlet>
