
#submitButton {
    background-color: #0d6efd;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container {
    background-color: #0d6efd;
}

#inputCard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 50%;
}
.row.justify-content-center {
    background-color: #4e73df;
}

h1#createaccount {
    display: flex;
    justify-content: center;
    padding: 20px;
}

div#choosemanager {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

div#newusersubmit {
    padding-bottom: 20px;
}