<body id="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">

        <h1 id="createaccount">Create Account</h1>

      <div class="container">
            <label for="inputFirst" class="col-sm-2 col-form-label">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="firstName" id="inputFirst" placeholder="First Name...">

            <label for="inputLast" class="col-sm-2 col-form-label" id="firstNameLabel">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="lastName" id="inputLast" placeholder="Last Name...">

            <label for="inputEmail" class="col-sm-2 col-form-label">Email Address</label>
            <input type="text" class="form-control" [(ngModel)]="email" id="inputEmail" placeholder="Email Address...">

            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <input type="text" class="form-control" [(ngModel)]="password" id="inputPassword" placeholder="Password...">

            <div id="choosemanager">
                <h3>Choose Manager</h3>
                <select [(ngModel)]="selected" id="dropDown">
                  <option disabled>Select Manager</option>
                  <option value="true" id="amManager">I am a Manager</option>
                  <option *ngFor="let manager of managers" [ngValue]="manager" id="chooseManager">{{manager.firstname}}
                    {{manager.lastname}}</option>
                </select>
            </div>
      </div>

        <div id="newusersubmit">
          <button class="btn btn-primary" (click)="createUser()" id="submitButton">Submit</button>
        </div>

        <h3>{{alert}}</h3>
      </div>
    </div>
  </div>
</body>